@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@import "nextra-theme-docs/style.css";


@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


body {
  @apply font-sans;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}